<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
    HI22
        <form action="/add", method="GET">
            <input input="text" name="value"/>

            <button type="submit">Add a value</button>
        </form>
        <hr />
        List:
        <ul>
        <% for(var i=0; i<items.length; i++) {%>
           <li><%= items[i] %></li>
        <% } %>
        </ul>
    </body>
</html>

